#wrap {
    width : 100%;
    height : 100%;
    background : black;
    margin: 0;
    padding: 0;
}
.header {
    width : 100%;
    height : 80px;
}
.section {
    width : 100%;
    height : 750px;
}
.footer {
    width : 100%;
    height : 80px;
}
#menubar1 ul {
    float : left;
    margin : 0;
    padding : 0;
}
#menubar1 ul li {
    display : inline-block;
    list-style-type : none;
    font-family: Helvetica;
    padding : 50px 0px 0px 75px;
}
#menubar1 ul li span {
    font-weight: bold;
}
#menubar1 ul li a {
    color : white;
    text-decoration : none;
}
#menubar1 ul li a:hover {
    color : #F8B03A;
}
#menubar2 {
    width: 317.5px;
    display: table;
    margin: 30px auto 0px;
    float : right;
    padding : 50px 45px 0px 0px;
    transform: translateY(-50%);
}

#menubar2 a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

#menubar2 a:before, #menubar2 a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

#menubar2 a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

#menubar2 a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

#menubar2 a:nth-child(1):before {
    background-color: yellow;
}

#menubar2 a:nth-child(1):after {
    background-color: red;
}

#menubar2 a:nth-child(2):before {
    background-color: #00e2ff;
}

#menubar2 a:nth-child(2):after {
    background-color: #89ff00;
}

#menubar2 a:nth-child(3):before {
    background-color: purple;
}

#menubar2 a:nth-child(3):after {
    background-color: palevioletred;
}

#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

#menubar2 a:hover {
    color: #fff;
}

#menubar2 a:hover:before, #menubar2 a:hover:after {
    transform: scale(1);
}

#menubar2 a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
}

#menubar2 a:nth-child(2):hover ~ #indicator {
    left: 39.5%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

#menubar2 a:nth-child(3):hover ~ #indicator {
    left: 66%;
    background: linear-gradient(130deg, purple, palevioletred);
}
#menubar3 ul {
    float : right;
    margin : 0;
    padding : 0;
}
#menubar3 ul li {
    display : inline-block;
    list-style-type : none;
    font-family: Helvetica;
    padding : 0px 75px 0px 0px;
    color : gray;
    font-size: 0.8em;
    text-align: right;
}
#menubar3 ul li span {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 3em;
    color : white;
}
